altgraph==0.17
appdirs==1.4.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
Flask==1.1.1
idna==2.9
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
macholib==1.14
MarkupSafe==1.1.1
parso==0.6.2
prompt-toolkit==3.0.5
ptpython==3.0.1
pycodestyle==2.5.0
Pygments==2.6.1
PyInstaller==3.6
python-dotenv==0.12.0
requests==2.23.0
urllib3==1.26.5
uWSGI==2.0.18
wcwidth==0.1.9
Werkzeug==1.0.0
